{% extends "base.html" %}
{% block content %}
<style>
    .about{
    padding-left: 40px;
    }
    .heading{
    font-family: 'Sigmar One', cursive;
    padding-top: 20px;
    text-align: left;
    font-size: 50px;
    }
    .name {
    font-family: 'Reggae One', cursive;
    font-size: 40px;
    padding-top: 0px;
    padding-left: 130px;
    float:left;
    }
</style>

<div class="about">
    <div class=heading>Made by:</div><br>
    <div class=name>Siddharth Chopra</div><br><br><br><br>
    <div class=heading>Link to Github Repository:</div><br>
    <a href="https://github.com/SiddharthChopra28/Tiggy" class=name>Siddharth Chopra</div><br><br>

    
{% endblock %}
